@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Our Midnight Onyx & Gold Palette */
  --color-background: #121212;
  --color-surface: #1E1E1E;

  --color-gold: #C5A059;
  --color-gold-hover: #D4B371;

  --color-text-main: #F3F4F6;
  --color-text-muted: #9CA3AF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
}

button {
  cursor: pointer;
}